---
import Layout from "../layouts/Layout.astro";
import Devs from "./devs.astro";
import Projects from "./projects.astro";
import Contact from "./contact.astro";
import Footer from "../components/Footer.astro";
import ProfilePortfolio from "../assets/ProfilePortfolio.astro";
---

<Layout title="Portfolio">
  <main>
    <section class="w-full mx-auto pt-32 pb-20 px-10 lg:px-40">
			<ProfilePortfolio/>
      <h1 class="text-4xl font-bold flex flex-row"> Bootcamp: Programación Básica</h1>
      <h2 class="text-xl  py-8 text-wrap">
        Descubre las habilidades de los desarrolladores del Bootcamp de
        Programación Básica. <br />Aquí encontrarás los proyectos y perfiles de
        nuevos desarrolladores listos para dar el siguiente paso en el mundo
        tech.<br /> ¡Conéctate con su creatividad e innovación!
      </h2>
    </section>
		
		<section id="devs">
			<Devs></Devs>
		</section>
		<section id="projects">
			<Projects></Projects>
		</section>
		<section id="contacts">
			<Contact></Contact>
		</section>
		<Footer></Footer>
  </main>
</Layout>
